$bp__sm: 1366px; //$screen-sm-min; // 1366px

$breakpoints: (
    'sm': $bp__sm,
);

$breakpoints-count: length($breakpoints);

// ------------------------------------------------------------------------- //
//
// Example:
// @include media-breakpoint(sm) {
//   width: 100%;
// }
// ------------------------------------------------------------------------- //

@mixin media-breakpoint($media) {

    @if $media == sm {
        @media (min-width: $bp__sm) { @content }
    }

    @else if $media == sm--max {
        @media (max-width: ($bp__sm - 1)) { @content }
    }
}
