.c-features {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 48px;

    @include media-breakpoint('md') {
        margin-bottom: 72px;
    }

    &__wrapper-title {
        width: 90%;
        text-align: center;
    }

    &__subtitle {
        margin-bottom: 4px;
        color: $color-primary;
        font-size: rem(21);
        line-height: 24px;

        @include media-breakpoint('md') {
            margin-bottom: 14px;
            font-size: rem(24);
            line-height: 32px;
        }
    }

    &__main-subject-text {
        margin-bottom: 48px;
        font-size: rem(18);
        line-height: 26px;

        @include media-breakpoint('md'){
            width: 40%;
            margin: 0 auto 48px;
            font-size: rem(20);
            line-height: 28px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__wrapper {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        width: 87%;
        margin: 0 auto 48px;

        @include media-breakpoint('md') {
            align-items: flex-start;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 69px;
            margin-bottom: 72;
            max-width: 1115px;
        }
    }

    &__card {
        margin-bottom: 56px;
        padding: 40px 16px 100px;
        cursor: pointer;

        @include media-breakpoint('md') {
            margin-bottom: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &.is-active{
            .c-features__subject-text{
                display: flex;
            }

            .c-features__drop-down{
                display:flex;
            }

            .c-features__arrow{
                transform: rotate(180deg);
            }
        }
    }

    &__btn {
        @include position(absolute, $right: 0, $bottom: 40px, $left: 0);
        width: 24px;
        height: 12px;
        margin: auto;
        background-color: $color-white;
        outline: none;
    }

    &__figure {
        margin: 0 auto 24px;
    }

    &__subject  {
        margin-bottom: 8px;
        color: $color-primary;
        font-size: rem(21);
        line-height: 28px;

        @include media-breakpoint('md') {
            font-size: rem(24);
        }
    }

    &__drop-figure {
        margin-right: 16px;
    }

    &__subject-text {
        display: none;
        margin-bottom: 24px;
        font-size: rem(16);
        line-height: 24px;
    }

    &__sub-title {
        margin-bottom: 4px;
        font-size: rem(17);
        font-weight: $font-weight-bold;
        line-height: 24px;
    }

    &__sub-title-text {
        margin-bottom: 32px;
        font-size: rem(15);
        line-height: 23px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__drop-down {
        display: none;
        align-items: flex-start;
        margin-bottom: 24px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
