.c-features {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper-title {
        width: 80%;
        text-align: center;
    }

    &__title {
        margin-bottom: 10px;
        color: $color-primary;
        font-size: rem(26);
        line-height: 32px;

        @include media-breakpoint('md') {
            font-size: rem(36);
            line-height: 42px;
        }
    }

    &__subject  {
        margin-bottom: 4px;
        color: $color-primary;
        font-size: rem(21);
        line-height: 24px;

        @include media-breakpoint('md') {
            font-size: rem(24);
            line-height: 32px;
        }
    }

    &__main-subject-text {
        margin-bottom: 48px;
        font-size: rem(18);
        line-height: 26px;

        @include media-breakpoint('md'){
            width: 40%;
            margin: 0 auto;
            font-size: rem(20);
            line-height: 28px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;

        @include media-breakpoint('md') {
            flex-direction: row;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;
        width: 80%;
        height: 100%;
        margin: 20px auto;
        box-shadow: 0px 0px 3px #dadada;

        @include media-breakpoint('md') {
            width: 25%;
            margin: 0;
        }

        &.is-active{
            .c-features__subject-text{
                display: flex;
            }

            .c-features__drop-down{
                display:flex;
            }

            .c-features__arrow{
                transform: rotate(180deg);
            }
        }
    }

    &__figure {
        margin: 0 auto 24px;
    }

    &__subject-text  {
        display: none;
        margin-bottom: 24px;
        font-size: rem(16);
        line-height: 24px;
    }

    &__sub-title {
        margin-bottom: 5px;
        font-size: rem(17);
        line-height: 24px;
    }

    &__sub-title-text {
        margin-bottom: 32px;
        font-size: rem(15);
        line-height: 24px;
    }

    &__drop-down {
        display: none;
        align-items: flex-start;
        margin-top: 20px;
    }

    &__btn {
        outline: none;
        background-color: $color-white;
    }
}
