.c-widget {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 40px;
    width: 90%;
    margin: 0 auto 65px;

    @include media-breakpoint('md') {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        row-gap: 0;
        max-width: 1115px;
        margin: 0 auto 120px;
    }

    &__wrapper {
        text-align: center;
    }

    &__icons {
        margin: 0 auto 24px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0px 0px 3px #dadada;
    }

    &__check {
        @include position(relative, $top: -23px, $right: -66px);
    }

    &__img {
        @include position(relative, $top: 50%, $left: 0);
        transform: translate(-16%, -50%);
    }

    &__title {
        margin-bottom: 16px;
        font-size: rem(21);
        font-weight: $font-weight-bold;
        line-height: 28px;
    }

    &__description {
        font-size: rem(16);
        font-weight: 500;
        line-height: 24px;

        @include media-breakpoint('sm') {
            width: 50%;
            margin: 0 auto;
        }

        @include media-breakpoint('md') {
            width: 77%;
        }
    }
}
