.c-works {
    margin: 0 auto;
    text-align: center;

    @include media-breakpoint('md') {
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 950px;
    }

    &__wrapper-text {
        width: 90%;
        margin: 0 auto 30px;

        @include media-breakpoint('md') {
            margin-bottom: 80px;
        }
    }

    &__title {
        margin-bottom: 10px;
        font-size: rem(26);
        font-weight: $font-weight-bold;
        line-height: 32px;

        @include media-breakpoint('md') {
            font-size: rem(36);
            line-height: 42px;
        }
    }

    &__text {
        font-size: rem(18);
        line-height: 26px;

        @include media-breakpoint('md') {
            font-size: rem(20);
            line-height: 28px;
        }
    }

    &__wrapper {
        @include media-breakpoint('md') {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
        }
    }

    &__figure {
        max-width: 200px;
        margin: 0 auto 50px;

        @include media-breakpoint('md') {
            min-width: 300px;
            margin: 0 70px 0 0;
        }
    }

    &__wrapper-cards {
        width: 90%;
        margin: 0 auto;
    }

    &__cards {
        display: flex;
        align-items: flex-start;
        margin-bottom: 32px;
        text-align: left;

        &:last-of-type {
            @include media-breakpoint('md') {
                margin-bottom: 48px;
            }
        }
    }

    &__cards-figure {
        margin-right: 16px;

        @include media-breakpoint('md') {
            margin-right: 32px;
        }
    }

    &__icon {
        &--live-broadcast {
            width: 48px;
            height: 38px;

            @include media-breakpoint('md') {
                width: 69px;
                height: 51px;
            }
        }

        &--seo {
            width: 48px;
            height: 49px;

            @include media-breakpoint('md') {
                width: 63px;
                height: 64px;
            }
        }

        &--sass {
            width: 48px;
            height: 46px;

            @include media-breakpoint('md') {
                width: 63px;
                height: 61px;
            }
        }
    }

    &__card-title {
        margin-bottom: 10px;
        font-size: rem(21);
        font-weight: $font-weight-bold;
        line-height: 28px;
    }

    &__card-text {
        font-size: rem(16);
        line-height: 24px;
    }
}

