.o-svg {
    &__live-broadcast {
        width: 48px;
        height: 38px;

        @include media-breakpoint('md') {
            width: 69px;
            height: 51px;
        }
    }

    &__seo {
        width: 48px;
        height: 49px;

        @include media-breakpoint('md') {
            width: 63px;
            height: 64px;
        }
    }

    &__sass {
        width: 48px;
        height: 46px;

        @include media-breakpoint('md') {
            width: 63px;
            height: 61px;
        }
    }

    &__arrow{
        width: 24px;
    }

    &__support {
        height: 60px;
        width: 68px;
    }

    &__light-bulb {
        width: 55px;
        height: 60px;
    }

    &__data {
        width: 61px;
        height: 64px;
    }

    &__magnifying-glass {
        width: 40px;
    }

    &__phone-support {
        width: 38px;
    }

    &__cloud-service {
        width: 40px;
    }

    &__speed {
        width: 40px;
    }

    &__previous-event {
        width: 40px;
    }

    &__data-tablet {
        width: 40px;
    }
}
