.o-svg {
    &__live-broadcast {
        width: 48px;
        height: 38px;

        @include media-breakpoint('md') {
            width: 69px;
            height: 51px;
        }
    }

    &__seo {
        width: 48px;
        height: 49px;

        @include media-breakpoint('md') {
            width: 63px;
            height: 64px;
        }
    }

    &__sass {
        width: 48px;
        height: 46px;

        @include media-breakpoint('md') {
            width: 63px;
            height: 61px;
        }
    }

    &__arrow{
        width: 24px;
        height: 12px;
    }

    &__support {
        width: 68px;
        height: 48px;

        @include media-breakpoint('md') {
            width: 89px;
            height: 64px;
        }
    }

    &__light-bulb {
        width: 43px;
        height: 48px;

        @include media-breakpoint('md') {
            width: 55px;
            height: 64px;
        }
    }

    &__monitor {
        width: 41px;
        height: 40px;
    }

    &__phone {
        width: 41px;
        height: 47px;
    }

    &__cloud {
        width: 41px;
        height: 41px;
    }

    &__speed {
        width: 41px;
        height: 39px;
    }

    &__data {
        width: 39px;
        height: 49px;

        @include media-breakpoint('md') {
            width: 50px;
            height: 64px;
        }
    }

    &__previous-event {
        width: 41px;
        height: 41px;
    }

    &__data-tablet {
        width: 41px;
        height: 42px;
    }

    &__logo-acilia {
        width: 85px;
        height: 25px;
    }
}
