.o-btn {
    cursor: pointer;
    padding: 12px 65px;
    background-image: linear-gradient($color-bgc-btn, $color-bgc-btn-secondary);
    border-radius: 3px;
    color: $color-white;
    box-shadow: inset 0px 2px 12px -10px $color-white;
    font-size: rem(18);
    font-family: $font-family-base;
    font-weight: 700;
    text-transform: uppercase;

    @include media-breakpoint('sm') {
        padding: 16px 29px;
        font-size: rem(16);
    }

    &--display {
        display: block;
        margin: 0 auto;
    }

    &--hidden {
        @include media-breakpoint('md') {
            display: none;
        }
    }

    &--color {
        background-image: linear-gradient($color-white, #d3d3d3);
        color: #001fb6;
    }
}