$color-default-text: #3c3c3c;
$color-primary: #ffcc00;
$color-bgc-secondary: #f6f6f6;
$color-bgc-btn: #062ff9;
$color-bgc-btn-secondary: #0225d0;

// Common
$color-black: #000000;
$color-white: #ffffff;
$color-transparent: transparent;

$background-color-default: #eaeaea;

$font-size: 16;

$font-weight-base: 400;
$font-family-base: 'Open Sans', sans-serif;
$font-family-serif: serif;
$font-family-sans-serif: sans-serif;
$line-height-base: 1.5;

$body-color: $color-default-text;

$link-decoration: none;
$link-color: $color-black;
$color-link-hover: #cccccc;
$link-hover-decoration: none;

$height-header: 70px;
$height-header-sm: 100px;

$height-header-home: 80px;
$height-header-home-sm: 150px;
